  <div id="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              <h4> Oct. 19th 2014 </h4>
            <li class="active"><a href="/story">Story</a></li>
            <li><a href="/party">About our Wedding Party</a></li>
            <li><a href="/pictures">Photos</a></li>
            <li><a href="/rsvp">RSVP</a></li>
            <li><a class="weekend" href="/weekend">Wedding Weekend</a></li>
                <span class="something">
                
                  <li><a href="/events">Pre Wedding Events</a></li>
                  <li><a href="/dayof">Day of Schedule</a></li>
                  <li><a href="/parking">Parking</a></li>
                  <li><a href="/hotel">Hotel info</a></li>          
                  </span>
            <li><a href="/registry">Registry</a></li>
            <li><a href="/todo">Things to do in Austin</a></li>
          
            
          </ul>
        </div>
        
        <br><br><br>
        <div class="col-xs-6 col-md-6">
        <h2>   Wedding Day Schedule </h2>

You are all invited to celebrate the happiest day of our lives! Here are the details and  schedule of the evening. Please come during cocktail hour, as this schedule is subject to change slightly. Also, please don’t forget to RSVP by clicking on the menu tab so we can plan on seeing you there. Thanks!

  <br><br><br>

<h4>
  <b>When:</b> October 19th, 2014
  <br>
  <br><br>

  Where: The Texas Federation of Women’s Clubs<br></h4>
	  <p>2312 San Gabriel St.<br>
      Austin, TX 78705-5014</p>
          <h4> <b>When:</b><br></h4>
  <b>5:00 PM - 6:00 PM</b> - Cocktail Hour<br><br>
We want to be able to welcome all of our guests and take a moment to enjoy being with the people we love. Please note there will be a one drink maximum at this time, but after the ceremony, let the party begin!<br><br>

  <b>6:00 PM - 6:30 PM</b> - Ceremony 
	The big moment has arrived! <br>

  <b>6:30 PM - 10:00 PM</b> - Dinner & Reception<br><br>
It’s party time! Be advised: Steph and Sean get cranky if they haven’t eaten, so please be courteous and let them get a few bites in before coming to congratulate them.
        
        <br><br><br>

  <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=Austin%2C%20TX%20Texas%20Womens%20Fed&key=AIzaSyCvzpAltuksaqqnoCNCNTTMxCh70bwCL_Q"></iframe>
            </div>
