<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <% if browser.mobile? %>
<div class="title">  <h3> <%=link_to"Steph and Sean's Wedding", "/"%> </h3> </div>
<%else%>
 <div class="title">   <%=link_to"Steph and Sean's Wedding", "/"%></div>
        <%end%>
  <div class='spacer'></div>
<hr>
    <div class='spacer'></div>
    </nav>
