  <div id="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              <h4> Oct. 19th 2014 </h4>
            <li class="active"><a href="/story">Story</a></li>
            <li><a href="/party">About our Wedding Party</a></li>
            <li><a href="/pictures">Photos</a></li>
            <li><a href="/rsvp">RSVP</a></li>
            <li><a class="weekend" href="/weekend">Wedding Weekend</a></li>
                <span class="something">
                
                  <li><a href="/events">Pre Wedding Events</a></li>
                  <li><a href="/dayof">Day of Schedule</a></li>
                  <li><a href="/parking">Parking</a></li>
                  <li><a href="/hotel">Hotel info</a></li>          
                  </span>
            <li><a href="/registry">Registry</a></li>
            <li><a href="/todo">Things to do in Austin</a></li>
          
            
          </ul>
        </div><br><br><br>

        <h2> <span style="font-family: 'Times New Roman';"> Please RSVP by September 15th so that you are included in our planning! </span> </h2>
       <!-- 
        <div class="row placeholders">
            <div class="col-xs-7 col-sm-4 placeholder">
               
               <%= image_tag("baseball.jpg", :alt => "rss feed") %>$
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
        </div>
-->
        <div class="jumbotron">
         <%= image_tag("baseball.jpg", :alt => "rss feed") %>
      </div>
      </div>
      </div>