<div class="container-fluid">
  <div id="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              <h4> Oct. 19th 2014 </h4>
            <li class="active"><a href="/story">Story</a></li>
            <li><a href="/party">About our Wedding Party</a></li>
            <li><a href="/pictures">Photos</a></li>
            <li><a href="/rsvp">RSVP</a></li>
            <li><a class="weekend" href="/weekend">Wedding Weekend</a></li>
                <span class="something">
                
                  <li><a href="/events">Pre Wedding Events</a></li>
                  <li><a href="/dayof">Day of Schedule</a></li>
                  <li><a href="/parking">Parking</a></li>
                  <li><a href="/hotel">Hotel info</a></li>          
                  </span>
            <li><a href="/registry">Registry</a></li>
            <li><a href="/todo">Things to do in Austin</a></li>
          
            
          </ul>
        </div>
       <br><br><br><br><br> 
        One of the reasons Sean & Steph love Austin is because there are so many wonderful things to do. Here are some of their favorite places to go and have fun! 

        <div class="col-xs-6 col-md-4"> <h2>Restaurants:</h2>
SoCo Cafe<br>
Magnolia Cafe<br>
Kirby Lane<br>
Hula Hut<br>
Iron Cactus<br>
Frank & Angie’s Italian Restaurant<br>
Threadgills<br>
Hopdoddy<br>
Moonshine Restaurant<br>
2nd Bar + Kitchen<br>
Huts Hamburgers<br>
Thundercloud Subs<br>
County Line BBQ<br>
Seersuckers<br>
Benji’s<br>
Ma Laga<br>
**There are also various food trailer parks around town that make some absolutely delicious food! Most notably are the ones on 360, East 6th, and South Lamar**<br>
  </div>
        
        <div class="col-xs-6 col-md-4">
          
          <h2>  Bars:</h2>
6th Street (affectionately known as dirty 6th, has plenty of bars and clubs, you just also have to deal with all the college kids) **If you want to see historical 6th for the historical part, it’s best to see it during the day**<br><br>
J. Blacks<br>
219 West<br>
CU29<br>
East Side Showroom<br>