/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.navbar{
  background-image: image-url("leaf.png");
  background-size:80px 60px;
  height:60px
}
.nav {
padding-top:15px !important;
}

form.pure-form{
display: inline-block !important;
}

.pure-button{
font-family: "Arial Black", Gadget, sans-serif !important;
font-size: 100%;
padding: .5em 1em;
color: #E11;
color: white !important;
border: 1px solid #999;
border: 0 rgba(0,0,0,0);
background-color: #0078e7 !important;
text-decoration: none;
border-radius: 2px;
width: 120px !important;
}