/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
h4{
  margin-left:15px !important;
}
.navbar{
  background-size:80px 60px;
    background-color:#EEE !important;
  height:60px;
   margin-bottom: 200px !important;
  font-size:50px;
  /*font: 400 50px/1.5 'Glam', Helvetica, sans-serif; */
  font-family: 'Glam' !important;
  color: #2E0854;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
   border-top: 1px solid #000 !important;
  padding-top:18px;


}
  .navbar-fixed-top{ 
  margin-bottom:20px;
}

.nav {
padding-top:15px !important;
}

form.pure-form{
display: inline-block !important;
padding-top:100px;

}

.pure-button{
font-family: "Arial Black", Gadget, sans-serif !important;
font-size: 100%;
padding: .5em 1em;
color: #E11;
color: white !important;
border: 1px solid #999;
border: 0 rgba(0,0,0,0);
background-color: #0078e7 !important;
text-decoration: none;
border-radius: 2px;
width: 120px !important;
}

hr { display: block; height: 1px;
    border: 0; border-top: 20px solid #A89D97 !important;
    margin: 1em 0; padding-top: 20px; 
    margin-top: -15px !important;
    margin-bottom: 20px !important;
}

.container{
  background-color:#EEE !important;
}

div.collapse.navbar-collapse{
  display:none !important;
}

.title{
  padding-left:200px;
  background-color:#EEE !important;
 background-image: /* image-url('leaves.png'), */image-url('simple_bird.png');
 background-position: 7.5% 200%;/*, 56%,10000%; */
  background-size:/*100px 80px,*/ 140px, 90px;
  background-repeat:no-repeat;

}

.title a:hover {
   color: #2E0854 !important;
  text-decoration: none !important;
}

.spacer{
  padding-bottom:10px;
  margin-bottom:5px;
}

@font-face
{
font-family: 'Glam';
src: url('/assets/Glam.ttf') format('truetype')
}

.something {
    display:none;
  padding-left:25px;
  
}
.something.a:hover{
  
  text-decoration:none;
 }

#container-fluid > div > div.col-sm-3.col-md-2.sidebar > ul > span > li > a:hover{
  text-decoration:none;
}

.heading{
  font-size:18px;
  font-weight:bold;
}

