  <div id="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              <h4> Oct. 19th 2014 </h4>
            <li class="active"><a href="/story">Story</a></li>
            <li><a href="/party">About our Wedding Party</a></li>
            <li><a href="/pictures">Photos</a></li>
            <li><a href="/rsvp">RSVP</a></li>
            <li><a class="weekend" href="/weekend">Wedding Weekend</a></li>
                <span class="something">
                
                  <li><a href="/events">Pre Wedding Events</a></li>
                  <li><a href="/dayof">Day of Schedule</a></li>
                  <li><a href="/parking">Parking</a></li>
                  <li><a href="/hotel">Hotel info</a></li>          
                  </span>
            <li><a href="/registry">Registry</a></li>
            <li><a href="/todo">Things to do in Austin</a></li>
          
            
          </ul>
        </div>
<br><br><br><div class="col-xs-6 col-md-6">
<h2>How Steph & Sean Met</h2>
<br>
It all started sometime back in the winter/spring of 2007. Steph and Sean initially met through a mutual friend while hanging out at his house. Neither of them were interested at the time, but each got regular updates about the other through said mutual friend. Fast forward six years, this same mutual friend got married in February of 2013 and both Steph and Sean were in the groom’s party (yes, Steph was a groom’s maid). As the night drew to a close, Steph felt God lead her to give Sean a word of encouragement that was exactly what he needed to hear. This is when Sean knew that Steph was no ordinary girl. Although it was on this trip that she decided to move back to Austin, Steph returned to Georgia to figure out her moving plans. Sean followed up with Steph through facebook a few days later and thanked her again for the kind words she spoke to him. This is when Steph began to get suspicious. Through a series of Facebook messages, and the 2013 NBA Finals, Sean and Steph got to know each other and discovered they had quite a lot in common. One fateful day when Steph was home sick from work, Sean, wanting to do something to help her feel better, ordered her a pizza from 900 miles away. It was then that Steph realized Sean was no ordinary boy. Through much discussion they decided that they would start dating when Steph moved to Austin. So, after a 14 hour drive with her cat at her feet, Steph and Sean started dating May 31, 2013. The in between is long and boring, but somewhere along the way Sean decided that Steph was the one for him. On January 18th, 2014 they had planned to go away for the weekend. Little did Steph know that while they were dropping off Sean’s dog, Ruby, at his aunts, there was much more in store. In a cute little canyon, next to a small waterfall, with his cousin taking pictures, Sean got down on one need and said “Hey.” Steph turned around, expecting to see Sean at eye-level, but instead looked down to see him with a box in his hand. All she could say was “Are you serious???” He kind of nodded and open the box and asked, “Will you marry me?” Steph, of course, said “YES!” and they returned to Sean’s aunt’s kitchen for some celebratory champagne. The rest, as they say, is history.</div>
        <br>        <br>
        <br>
        <br>
              <br>
        <br>
        <br>
        <br>
        <br>
        <br>


        
        </div>
    </div>