<head>
<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<link rel="stylesheet" href="css/bootstrap-image-gallery.min.css">
  </head>

<style>
img{
  display: inherit;
}
.img-responsive{
  display: inherit !important;
}
</style>

  <div id="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              <h4> Oct. 19th 2014 </h4>
            <li class="active"><a href="/story">Story</a></li>
            <li><a href="/party">About our Wedding Party</a></li>
            <li><a href="/pictures">Photos</a></li>
            <li><a href="/rsvp">RSVP</a></li>
            <li><a class="weekend" href="/weekend">Wedding Weekend</a></li>
                <span class="something">
                
                  <li><a href="/events">Pre Wedding Events</a></li>
                  <li><a href="/dayof">Day of Schedule</a></li>
                  <li><a href="/parking">Parking</a></li>
                  <li><a href="/hotel">Hotel info</a></li>          
                  </span>
            <li><a href="/registry">Registry</a></li>
            <li><a href="/todo">Things to do in Austin</a></li>
          
            
          </ul>
        </div>

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br><br>

   <div class="col-md-9">  
          <% @images.each do |image|%>
        <%image = image.gsub("app/assets/images/","")%>
          <%=link_to(image_tag(image, size:"160x100", class: "slideshow"),"/assets/#{image}", "data-gallery" => "gallery") %></a>
        <%end%>
          
          
  <a href="/assets/baseball.jpg"  data-gallery>
    <%= image_tag("baseball.jpg",  size: "160x100", class: "slideshow", :alt => "rss feed") %>
    </a>
  <a href="/assets/1.jpg"  data-gallery>
    <%= image_tag("1.jpg", size: "160x100", class: "slideshow", :alt => "rss feed") %>
    </a>
  <a href="/assets/2.jpg" title="2" data-gallery>
    <%= image_tag("2.jpg", size: "160x100", class: "slideshow", :alt => "rss feed") %>
    </a>
</div>
      



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="js/bootstrap-image-gallery.min.js"></script>
  <br>
       
  </div>
</div>