<!DOCTYPE html>
<html>
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
  </script>
  <script>

      $(document).ready(function(){
          $("#target").blur(function(){
               name = $(this).val();
                e = $("#myspan")
                  for (i = 2; i < name; i++) {
                            e.clone()
                                .addClass("cloned")
                                .removeAttr("id")
                                .insertAfter("#myspan")

                   }
          });

          $("#target").click(function(){
              $(".cloned").remove();

            });

          $('#myform :checkbox').click(function() {
              var $this = $(this);
              // $this will contain a reference to the checkbox
              if ($this.is(':checked')) {
                  $("#myspan").hide()
                  $(".cloned").hide();
              } else {
                  $("#myspan").show()
              }
          });

      });

  </script>
</head>
<body>

<input id="target" type="text">
<p>How many people in your party?</p>
<form id="myform">
  <input type="checkbox" name="check1" value="check1">Im flying stag
<br><br>

<%= text_field_tag :name %> Your Name <br>
<span id="myspan"><%= text_field_tag :name %> Guests / Child's name<br></span>
</body>
</html>