  <div id="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              <h4> Oct. 19th 2014 </h4>
            <li class="active"><a href="#">Story</a></li>
            <li><a href="/party">About our Wedding Party</a></li>
            <li><a href="/pictures">Photos</a></li>
            <li><a href="/rsvp">RSVP</a></li>
            <li><a href="/weekend">Wedding Weekend</a></li>
            <li><a href="/registry">Registry</a></li>
            <li><a href="/todo">Things to do in Austin</a></li>
            
          </ul>
        </div>
        <style>
          h1{
            font-size:50px;
          }
        </style>
          <div class="container-full-party">
            Our Wedding Party:<br>
            <div class="row">
              <br>
              <div class="col-xs-6 col-md-4"><h1>Bride</h1>
                <br> <b>Julie Browder- Co-Maid of Honor</b> <br><div class="about"> Steph and Julie met their freshman year at UTA in English class. At the time, Steph was a Mary Kay consultant and asked Julie to do a Mary Kay get together with some her friends. The group party was a smash, and since Steph now had Julie’s contact info, she gave her a called when they moved to Austin the following year. What originally was planned as a business lunch for Steph, turned into the beginnings of a beautiful friendship that has endured across states, contries and continents. Julie is a 4th grade teacher by day, but there’s no telling what she will be doing at night, as it seems Julie never sleeps. They are currently roommates (until the big day that is) and still see each other when their paths cross in the apt...which is less frequent than you would think. <br> </div>
                <b>Whitney Ellis - Co-Maid of Honor</b>  <br><div class="about"> Steph and Whitney have been a dynamic duo for 14 years. They met their sophomore year of high school in Advanced Theatre, while learning how to do English accents and tolerate their teacher’s insanity. Through youth group, boys and hard life decisions, Steph and Whitney have remained the best of friends and helped each other through some pretty hard stuff. It hasn’t always been pretty, but they’ve each been a huge encouragement and blessing to the other along the way. Whitney now lives in Brooklyn, New York and works as a screenwriter. </div> <br>
                <b>Wendy Copeland</b>  <br><div class="about"> There is no stronger bond than the love of soccer, and this was true for the beginning of Wendy and Steph’s friendship. They met Junior year of college on the soccer team and quickly learned they had a multitude of other things in common with each other, like running...and ultimate frisbee...and the outdoors...and God. This led to the decision of them becoming roommates their senior year of college (which incidentally is when Steph, Wendy and Sean all first met), until Wendy graduated and moved to El Salvador for a year, while Steph remained for one last semester at UT. Wendy has recently finished grad school in Pasadena, Ca and moved back to Austin to work as a therapist.  <br> </div>
                <b>Lauren Warthan</b>  <br><div class="about">Lauren and Julie went to highschool together, and Steph was introduced to Lauren during her sophomore year. After meeting once during lunch, Steph and Lauren found out they had the same Intro to Advertising class. The next time they saw each other, Steph was looking around a crowded 350+ auditorium and saw this girl waving at her, down the crowded aisle. Confused, Steph thought she must be waving at someone else, until this girl started coming right toward where Steph was seated. It wasn’t until this girl was right in front of her, that Steph looked up and realized she did in fact know her as Julie’s friend, and invited her to sit down next to her. From that day on, they studied their way through the world of Advertising and PR at UT together. Now Lauren works for Spiceworks as a Strategy Manager in Austin.<br> </div>
                <b>Elizabeth Adcock</b>  <br><div class="about"> Elizabeth is the kind of person that you look at and somehow know that everything will work out. She has incredible faith and an incredibly scholarly mind that has encouraged Steph to see God in so many different ways. She’s also that voice of reason, kind of like your mother growing up, and help keeps you focused on your way. Steph and Elizabeth started out the World Race on the same team, and laughed their way from the Philippines to Africa. They got much closer as neighbors in Gainesville, and sharing delicious sandwiches from Causeway Gourmet at Ocean Isle, NC. Elizabeth now lives in Seattle, finishing up her masters for counseling. <br></div>
                <b>Braedon Tabor</b>  <br><div class="about"> Braedon is like Steph’s other older brother, despite the fact that he’s younger than her. They met on the World Race and really got to know each when Steph and her other female teammates were terrorizing Braedon as their leader. One of Steph’s favorite memories of Braedon is sitting with him on a disgusting hostel bed in Calcutta, India and watching V for Vendetta. That’s when Steph somehow knew he would be a friend for life. He has since been a trusted confidant for Steph, particularly during the dark years in Gainesville, Georgia. He now lives in Buford, Ga with his wife Andi and is going to school to finish up his bachelors. He plans to continue on with his Masters in history, or religion...or something like that.  </div>
              </div>
    <div class="col-xs-6 col-md-4"><h1>Groom</h1> 
      <br> <b> Caleb Attwell </b>  <br><div class="about"> Brother from the same Mother. Man about town. The smartest man I know. He can take control of any room with a whisper, he is the most interesting man in this wedding. He doesnt always stand in weddings, but when he does, he's the best man. Caleb will be a freshman at the University of Texas, studying to be a Doctor. He is both his class President and Student Council President.      <br> </div>
              <b> Jon Golde</b> <div class="about"> Affectionately known as Petie, Jon is a constant in our life. Sean and Jon met while playing lacrosse at Westlake. They now find time to play video games and share a drink via Skype. Jon is a Architect with his Wife Katie in Chicago.   <br> </div>
              <b> Ross Vedder </b><div class="about"> <br> What can you say about Ross that he hasn't said about himself at length? Ross is driven and drives Sean to do better things. They met in Highschool at a Westlake Dance (they kept things plutonic) Ross loves sitting around a campfire, filling the joke-space and constantly berating Sean. Ross lives in New York City, where he works as a Movie Editor. <br> </div>
              <b> Adam Connor </b> <div class="about"><br> Where would Sean be without Adam? Probably would never have learned how to properly talk to women, and then you would not be attending this wedding. Adam and Sean met in Westlake choir and enjoy playing music together. Through all their trials and tribulations one thing remained true: Adam was Sean's oldest friend and their bonds, much like Adam's red suburban, could never be broken. Adam works As a product manager in Austin. He also plays in a badass band and spends leasure time with his dog, Chance. <br></div>
              <b> Shaji Samiuddin  </b> <div class="about"><br> The most honest man and good hearted cynic you will ever meet. Sean hated Shaji when they first met, claiming that he was a poompous jerk. This turned out to still be true. But Shaji was quick to give meaningful advice to Sean, taking him under his wing. He advises on things from his personal life to his professional life. Sean owes a lot to Shaji in this way. Shaji works as a Software Engineer at Main Street Hub.  <br> </div>
              <b> Heather Parker </b> <div class="about"><br> In the long Tradition of men having female roommates, you could not have asked for a better partner or created a more inseperable pair. Heather and Sean went together like peas and carrots. They frequently spent entire weekends relaxing in front of the TV, eating queso and watching True Blood. That isnt to say they didnt enjoy going out on the town. My How they Danced! Heather works as a Sales Rep for a major IT service provider in Austin.  </div></div>
          <br><br>

            </div>
        </div>
    </div>
</div>