<html>
<body>
  
  <ul class="nav navbar-nav navbar-right">
<h4> Oct. 19th 2014 </h4>
  </ul>

  <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Story</a></li>
            <li><a href="/pictures">Photos</a></li>
            <li><a href="#">RSVP</a></li>
            <li><a href="#">Wedding Weekend</a></li>
            <li><a href="#">Registry</a></li>
            <li><a href="#">Things to do in Austin</a></li>
  </ul>
        </div>
    </div>
  </div>
  </div>
  <div class="container-full">
  
<% @name = Rsvp.last.rsvper %>
<% @guests = Rsvp.last.guests.split(',')%>
  <% @guests.last.insert(0, ' and ')%>
  <% @guests.join(",")%>


  <%if Rsvp.last.guests == nil%>
Thanks <%= @name %>, We look forward to seeing you!
  </div>
    <%else%>
    Thanks <%= @name %>, We look forward to seeing you <%= @guests.join(", ") %>
<%end%>
    
  </html>