  <div id="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              <h4> Oct. 19th 2014 </h4>
            <li class="active"><a href="/story">Story</a></li>
            <li><a href="/party">About our Wedding Party</a></li>
            <li><a href="/pictures">Photos</a></li>
            <li><a href="/rsvp">RSVP</a></li>
            <li><a class="weekend" href="/weekend">Wedding Weekend</a></li>
                <span class="something">
                
                  <li><a href="/events">Pre Wedding Events</a></li>
                  <li><a href="/dayof">Day of Schedule</a></li>
                  <li><a href="/parking">Parking</a></li>
                  <li><a href="/hotel">Hotel info</a></li>          
                  </span>
            <li><a href="/registry">Registry</a></li>
            <li><a href="/todo">Things to do in Austin</a></li>
          
            
          </ul>
        </div>
        
        <style>
          img{
            margin-left:0 !important;
          }
        </style>
        
        <br><br><br><br>
        <div class="col-md-6">
           <a href='http://www.austindowntown.place.hyatt.com/en/hotel/home.html?corp_id=85917'> <%= image_tag("hyatt.jpg", size: "250x250", :alt => "rss feed") %> </a><br>
            Using <a href='http://www.austindowntown.place.hyatt.com/en/hotel/home.html?corp_id=85917'> this link </a> will give you 10 percent off!<br><br>
          <a href="bit.ly/1psw0GI">    <%= image_tag("quinta.jpg", size: "250x250") %></a>
     We have blocked off 10 rooms at LaQuinta. So Hurry and make those Reservations today!<br><br>
            <br>
        <br>
          <%=image_tag("holiday.gif") %> 
        Unfortunately we were not provided a link for The Holiday Inn, but there is the number. <a href="tel://1-512-451-5757">(512) 451-5757</a> If you call them and mention that you are with our Wedding you will receive a discounted rate of 219 per night.
        
        <br><br><br>** If none of these hotels fit your needs or budget there are plenty of other options. Just note that there may be limited availability due to the UT home game that weekend. </div>